<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Do you like your strategy professor?</string>
	<string>Have you ever been surfing?</string>
	<string>Have you attended a small group dinner yet?</string>
	<string>Do you like this app?</string>
</array>
</plist>
